* {
    box-sizing: border-box;
    margin : auto;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
}

#header {
    padding: 20px;
}

ul {
    list-style-type: none;
    overflow: hidden;
}

#house{
    margin-top: 4px;
    padding-left: 5px;
}

li  {
    float: left;
}

li a {
    display: inline-block;
    padding: 15px 15px;
    text-decoration: none;

}



#section {
    height: 600px;
}

#section table {
    border: 1px solid black;
}

#section table tr, th, td {
    padding: 5px;
    border: 1px solid black;
}

#footer {
    background-color: black;
    color: white;
    padding: 20px;
}

#nav {
    height: auto;
}

#nav ul li.login-name {
    float: right;
}


